src/main/resources/uid/wsdl/uid-public-services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="PublicServices" targetNamespace="http://tempuri.org/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:i0="http://www.uid.admin.ch/xmlns/uid-wse"
>
    <wsdl:import namespace="http://www.uid.admin.ch/xmlns/uid-wse"
                 location="https://www.uid-wse.admin.ch/V3.0/PublicServices.svc?wsdl=wsdl0"/>
    <wsdl:types/>
    <wsdl:binding name="BasicHttpBinding_IPublicServices" type="i0:IPublicServices">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetOrganisationSample">
            <soap:operation
                soapAction="http://www.uid.admin.ch/xmlns/uid-wse/IPublicServices/GetOrganisationSample"
                style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SecurityFaultFault">
                <soap:fault name="SecurityFaultFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="BusinessFaultFault">
                <soap:fault name="BusinessFaultFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InfrastructureFaultFault">
                <soap:fault name="InfrastructureFaultFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetByUID">
            <soap:operation
                soapAction="http://www.uid.admin.ch/xmlns/uid-wse/IPublicServices/GetByUID"
                style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SecurityFaultFault">
                <soap:fault name="SecurityFaultFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="BusinessFaultFault">
                <soap:fault name="BusinessFaultFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InfrastructureFaultFault">
                <soap:fault name="InfrastructureFaultFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="Search">
            <soap:operation
                soapAction="http://www.uid.admin.ch/xmlns/uid-wse/IPublicServices/Search"
                style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SecurityFaultFault">
                <soap:fault name="SecurityFaultFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="BusinessFaultFault">
                <soap:fault name="BusinessFaultFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InfrastructureFaultFault">
                <soap:fault name="InfrastructureFaultFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="Search2">
            <soap:operation
                soapAction="http://www.uid.admin.ch/xmlns/uid-wse/IPublicServices/Search2"
                style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SecurityFaultFault">
                <soap:fault name="SecurityFaultFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="BusinessFaultFault">
                <soap:fault name="BusinessFaultFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InfrastructureFaultFault">
                <soap:fault name="InfrastructureFaultFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ValidateVatNumber">
            <soap:operation
                soapAction="http://www.uid.admin.ch/xmlns/uid-wse/IPublicServices/ValidateVatNumber"
                style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SecurityFaultFault">
                <soap:fault name="SecurityFaultFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="BusinessFaultFault">
                <soap:fault name="BusinessFaultFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InfrastructureFaultFault">
                <soap:fault name="InfrastructureFaultFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ValidateUID">
            <soap:operation
                soapAction="http://www.uid.admin.ch/xmlns/uid-wse/IPublicServices/ValidateUID"
                style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SecurityFaultFault">
                <soap:fault name="SecurityFaultFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="BusinessFaultFault">
                <soap:fault name="BusinessFaultFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InfrastructureFaultFault">
                <soap:fault name="InfrastructureFaultFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PublicServices">
        <wsdl:port name="BasicHttpBinding_IPublicServices"
                   binding="tns:BasicHttpBinding_IPublicServices">
            <soap:address
                location="https://www.uid-wse.admin.ch/V3.0/PublicServices.svc"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
